/* General Styling */
body {
  font-family: Roboto, sans-serif;
}

/* Workout Entry */
.workout-entry {
  width: 90%;
  height: 50px;
  background-color: #f0f0f0;
  margin: 10px auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

/* Modal Styling */
.modal {
  width: 80%;
  max-width: 1000px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.modal__group {
  margin-bottom: 1.5rem;
}

.modal__group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.time-input {
  display: flex;
  gap: 0.5rem;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Power Zone Section */
.power-zone {
  margin-top: 20px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.power-zone__zones .zone {
  color: white;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 5px;
}

.zone-1 {
  background-color: #00b5e2;
}

.zone-2 {
  background-color: #8dc63f;
}

.zone-3 {
  background-color: #ffd700;
}

.zone-4 {
  background-color: #f68b1f;
}

.zone-5 {
  background-color: #ee1c25;
}

.zone-6 {
  background-color: #662d91;
}

.zone-7 {
  background-color: #8b0000;
}

/* Comment Section */
.comments textarea {
  width: 100%;
  height: 100px;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Modal Action Buttons */
.modal__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.modal__button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.modal__button--cancel {
  background-color: #f44336;
}

.modal__button--cancel:hover {
  background-color: #d32f2f;
}

.modal__button--save {
  background-color: #4caf50;
}

.modal__button--save:hover {
  background-color: #388e3c;
}

.workout-completed {
  background-color: rgb(3, 216, 3) !important;
}
